{% extends 'base.html' %}

{% block title %}Список постов{% endblock %}

{% block content %}
    <h1>Список постов</h1>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'post_detail' post.id %}">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 200px;">
                    {% else %}
                        <img src="{% static 'images/placeholder.png' %}" alt="Placeholder" style="max-width: 200px;">
                    {% endif %}
                    {{ post.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
